<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сертификат</title>
</head>
<body>
    <div class="certificate">
        <div class="certificate-border"></div>

        <div class="certificate-header">
            <div class="certificate-title">Сертификат</div>
            <div class="certificate-subtitle">ОБ ОКОНЧАНИИ КУРСА СВИДЕТЕЛЬСТВУЕТ, ЧТО</div>
        </div>

        <div class="certificate-body">
            <div class="student-name">{{ student_name }}</div>

            <div class="course-label">успешно завершил(-а) курс по программе</div>
            <div class="course-title">{{ course_title }}</div>
        </div>

        <div class="certificate-footer">
            <div class="footer-item">
                <div class="footer-text"><nobr>Худайбергенова П.Т.</nobr></div>
                <div class="footer-line"></div>
                <div class="footer-text"><nobr>Директор ИП MeMar</nobr></div>
            </div>
            <div class="footer-item">
                <div class="footer-text"><nobr>№ {{ certificate_number }}</nobr></div>
                <div class="footer-line"></div>
                <div class="footer-text">
                    <nobr>
                        Дата выдачи:
                        {% if from_dossier %}
                            {{ completed_at|date:"d.m.Y" }}
                        {% else %}
                            {{ completed_at|date:"d.m.Y" }}
                        {% endif %}
                    </nobr>
                </div>
            </div>
        </div>

        {% if with_stamp %}
            <!-- Печать и подпись -->
            <div class="stamp">Подпись</div>
        {% endif %}

    </div>
</body>
</html>