@font-face {
    font-family: 'CMU';
    src: url('../fonts/cmun-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather_400.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather_500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather_700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@page {
    size: A4 landscape;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    width: 297mm;
    height: 210mm;
    position: relative;
    /* Калибровочный фон - потом заменить на bg-empty.jpg */
    background-image: url('../images/bg-empty.jpg');
    background-size: 297mm 210mm;
    background-repeat: no-repeat;
    background-position: top left;
}

.certificate {
    width: 297mm;
    height: 210mm;
    position: absolute;
    top: 0;
    left: 0;
    /* Padding подберёшь по калибровке */
    padding: 15mm 20mm;
}

/* Убираем старую рамку - она теперь на фоне */
.certificate-border {
    display: none;
}

.certificate-header {
    text-align: center;
    /* Отступ сверху - подбери по макету */
    padding-top: 44mm;
    margin-bottom: 4mm;
}

.certificate-title {
    font-size: 42pt;
    font-weight: 700;
    color: #bd8d45;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    margin-bottom: 9mm;
}

.certificate-subtitle {
    font-size: 14pt;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 1px;

}

.certificate-body {
    text-align: center;
    margin-bottom: 10mm;
}

.student-name {
    font-size: 39pt;
    font-weight: 500;
    color: #111827;
    margin-bottom: .45mm;
    font-family: 'CMU', serif;

    /*border-bottom: 2px solid #1e40af;*/
    display: inline-block;
    text-transform: capitalize;
}

.course-label {
    font-size: 15pt;
    font-weight: 400;
    padding-top: 6mm;
    /*color: red;*/
    color: #000000;
    margin-bottom: .25rem;
    letter-spacing: 1px;
}

.course-title {
    font-size: 15pt;
    font-weight: 400;
    /*color: red;*/
    color: #bd8d45;
    margin-bottom: 8mm;
    padding: .5mm 20mm 0;
    letter-spacing: 1px;
    line-height: 1.2;
    height: 20mm;
}

.certificate-label {
    font-size: 12pt;
    font-weight: 400;
    color: #64748b;
}

.certificate-footer {
    position: absolute;
    bottom: 25mm;
    left: 40mm;
    right: 40mm;
    display: flex;
    justify-content: space-between;
}

.footer-item {
    text-align: center;
    width: 35%;
}
.footer-text {
    font-size: 14pt;
    font-weight: 500;
    letter-spacing: 1px;
}

.footer-line {
    background: #000000;
    padding-top: .5mm;
    padding-bottom: .5mm;
    font-size: 10pt;
    color: #64748b;
    width: 80%;
    margin: 0 auto;
}

.certificate-date {
    position: absolute;
    bottom: 15mm;
    left: 20mm;
    font-size: 10pt;
    color: #94a3b8;
}

.certificate-number {
    position: absolute;
    bottom: 15mm;
    right: 20mm;
    font-size: 10pt;
    color: #94a3b8;
}

.stamp {
    position: absolute;
    bottom: 20mm;
    right: 130mm;

    width: 42mm;
    height: 42mm;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.img-stamp {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.aft {
    position: absolute;
    bottom: 20mm;
    right: 110mm;

    width: 30mm;
    height: 30mm;

    /*border: 1px solid #000000;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.stamp-img-1 {
    background-image: url('../images/stamp.png');
}
.stamp-img-2 {
    background-image: url('../images/stamp-mm.png');
}
.aft-img-1 {
    background-image: url('../images/aft.png');
}
.aft-img-2 {
    background-image: url('../images/aft.png');
}